name="BaseOS" description="Repo Beta RHEL8 - BaseOS 
baseurl=https://downloads.redhat.com/redhat/rhel/rhel-8-beta/baseos/x86_64/ 
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-beta,file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release gpgcheck=true enabled=true'

name="AppStream" description="Repo Beta RHEL8 - AppStream
baseurl=https://downloads.redhat.com/redhat/rhel/rhel-8-beta/appstream/x86_64/ 
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-beta,file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release gpgcheck=true enabled=true'


name="Ansible" description="Repo All Ansible - Ansible
baseurl=https://releases.ansible.com/ansible/rpm/release/epel-7-x86_64/
gpgkey=0 gpgcheck=0 enabled=true'
